{% if reports and reports.length %}
    <section class="govuk-!-margin-bottom-5">

        {% for report in reports %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                    <h2 class="govuk-heading-m govuk-!-margin-bottom-5">{{ report.reportName }}</h2>
                    <p class="govuk-body govuk-!-margin-bottom-5">
                        {{ report.description }}
                    </p>
                    <p class="govuk-body">
                        <a href="{{ report.reportDownloadUrl }}" class="govuk-link">Download CSV</a>
                    </p>

                </div>
            </div>

            {# Insert a section break after each item except the last one #}
            {% if not loop.last %}
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
            {% endif %}

        {% endfor %}
    </section>
{% else %}
    <p class="govuk-body">No reports available.</p>
{% endif %}